<!-- <h1>Sessions#new</h1> -->
<!-- <p>Find me in app/views/sessions/new.html.erb</p>  left_margin_20-->
<div class="container">
	<h1>Sign In</h1>
	<% if flash[:error] %>
		<h4 class="error_red"><%= flash[:error] %></h4>
	<% end %>

	<%= simple_form_for(:session, :url => sessions_path) do |f| %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.button :submit %>
	<% end %>
	<%= link_to "Register", signup_path %>
</div>