<div class="container">
	<div id="content">
		<!--<h4></h4>
		<img src=""/>-->

	</div>

	<p id="notice"><%= notice %></p>

	<p>
	  <b>First name:</b>
	  <%= @user.first_name %>
	</p>

	<p>
	  <b>Last name:</b>
	  <%= @user.last_name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>

	<!-- <p>
	  <b>Password:</b>
	  <%= @user.encrypted_password %>
	</p> -->


	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
	<button id="revokeButton">Revoke Google+ Access</button>
	<span id="signinButton">
    <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="437586832432-i05mhukqm80agkqrt7861mdh1gg06b8t.apps.googleusercontent.com"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schemas.google.com/AddActivity"
      data-scope="https://www.googleapis.com/auth/plus.login">
    </span>
  </span>

</div>

<script type="text/javascript">
	$(document).ready(function(){

		

		
	});
</script>
