 <div class="container">
  <div class="row">
      <div class="span12" id="board3" style="width:1100px;">
            
              
            
      
            <<!-- div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div> -->
            
            <ul class="span4">
              <% @tasks.each do |task| %>
              <li>
                <div class="thumbnail span4">
                <img src="<%= task.thumbnail_url %>">
                <h3><%= task.title %> Priority is: <%= task.priority %></h3>
                </div>
              </li>
              <% end %> 
            </ul>
            <ul class="span4">
              <% @tasks.each do |task| %>
              <li>
                <div class="thumbnail span4">
                <img src="<%= task.thumbnail_url %>">
                <h3><%= task.title %> Priority is: <%= task.priority %></h3>
                </div>
              </li>
              <% end %> 
            </ul>
            <ul class="span4">
               <% @tasks.each do |task| %>
              <li>
                <div class="thumbnail span4">
                <img src="<%= task.thumbnail_url %>">
                <h3><%= task.title %> Priority is: <%= task.priority %></h3>
                </div>
              </li>
              <% end %>   
            </ul>
      </div>
      <div class="span12" style="width:1100px;background-color:white;" id="board2">
            
              <%# @tasks.each do |task| %>
              <!-- <div class="thumbnail span4">
              <img src="<%#= task.thumbnail_url %>"> -->
              <!--<h3><%#= task.title %> Priority is: <%#= task.priority %></h3>-->
               <!-- <h3><%#= link_to task.title, task_path(task.id) %> Priority is: <%#= task.priority %></h3>
              </div> -->
              <%# end %> 
            
      <!-- 
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div> 
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>

            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div> 
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>

            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div> 
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail span4">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div> -->
      </div>
  </div>
 </div>