<!DOCTYPE html>
<html>
<head>
  <title>Taskcloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar tasknav_bar">
	  <div class="navbar-inner tasknav_bar_inner">
	 <!--    <a class="brand" href="#">Task</a> -->
	    <%= link_to "TaskCloud", root_path, :class => "brand" %>
	    <ul class="nav">
	      <!-- <li class="active"><a href="#">Home</a></li> -->
	      <li><%= link_to "Lists", tasks_path %></li> 
	      <li><%= link_to "Dashboard", category_path(Category.first) %></li>

	      <% if sign_in? %>
		      <li><%= link_to "Log Out", signout_path %></li>	
		  <% else %>
		  	  <li><%= link_to "Sign In", signin_path %></li>
		  <% end %>
	    </ul>
	  </div>
	</div> <!--end of top nav-->

<%= yield %>

 <!-- Google PLUS Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       // po.src = 'https://apis.google.com/js/client:plusone.js';
       // onload callback
       po.src = 'https://apis.google.com/js/plusone.js?onload=OnLoadCallback';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();

	   function signinCallback(authResult) {
		  if (authResult['access_token']) {
		    // Successfully authorized
		    // Hide the sign-in button now that the user is authorized, for example:
		    document.getElementById('signinButton').setAttribute('style', 'display: none');
		    console.log('the button is now hidden');
		    console.log(authResult['id_token']);
		    console.log(authResult['access_token']);
		  } else if (authResult['error']) {
		    // There was an error.
		    // Possible error codes:
		    //   "access_denied" - User denied access to your app
		    //   "immediate_failed" - Could not automatially log in the user
		    console.log('There was an error: ' + authResult['error']);
		  }
		}

			// authResult
			// {
			//   "id_token": the user ID,
			//   "access_token": the access token,
			//   "expires_in": the validity of the tokens, in seconds,
			//   "error": The OAuth2 error type if problems occurred,
			//   "error_description": an error message if problems occurred
			// }


    </script>

</body>
</html>
